<template>
    <main class="container">
        <section>
            <div class="filter d-lg">
                <input v-model="filter" placeholder="Filter…"/>
                <button class="btn btn-danger" v-if="filter || filterType" @click="filter = '';filterType = ''">×</button>
                <button v-for="(colour, type) in types"
                        :class="['btn', 'btn-' + colour, filterType === type ? 'active' : '']"
                        @click="filterType = filterType === type ? '' : type"
                >
                    {{type}}
                </button>
            </div>
            <div class="filter d-sm">
                <input v-model="filter" placeholder="Filter…" ref="filter"/>
                <button class="btn btn-danger" v-if="filter || filterType" @click="filter = '';filterType = ''">×</button>
            </div>
            <div class="filter d-sm">
                <button v-for="(colour, type) in types"
                        :class="['btn', 'btn-' + colour, filterType === type ? 'active' : '']"
                        @click="filterType = filterType === type ? '' : type"
                >
                    {{type}}
                </button>
            </div>

            <div class="reactions" v-if="visibleReactions.length">
                <Reaction v-for="reaction in visibleReactions" :key="reaction.filename"
                          :reaction="reaction"
                          @played="stopAll" ref="reaction"
                />
            </div>
            <p v-else class="empty">
                No matches found…
            </p>
        </section>

        <section>
            <h2>Why is this or that phrase missing?</h2>
            <p>
                Because finding a specific phrase in a huge set of long videos is not that easy…
                <br/>
                If I stumble upon something fun, I'll add it. If you do, and you want to contribute, awesome!
            </p>
            <p>
                Just send me a link to the video with a timestamp
                <a href="mailto:andrea@avris.it" target="_blank" rel="noopener">by email</a>
                or <a href="https://twitter.com/AvrisIT" target="_blank" rel="noopener">by Twitter</a>.
                <br/>
                Or even record and clip the sound and send me the recording(s).
                <br/>
                Or open a pull request
                <a href="https://gitlab.com/Avris/Simon" target="_blank" rel="noopener">on GitLab</a>
                yourself.
            </p>

            <h2>Can I use it as a mobile app?</h2>
            <p>
                Kinda. Check out
                <a href="https://www.howtogeek.com/196087/how-to-add-websites-to-the-home-screen-on-any-smartphone-or-tablet/" target="_blank" rel="noopener">
                    this instruction.
                </a>
            </p>

            <h2>Got any other cool sudoku projects?</h2>
            <p>
                Glad you asked!
                <br/>
                Simon might be able to list all the possible combinations summing up to some number,
                but I, unfortunately, can't.
                <br/>
                So for playing sandwich sudoku and killer sudoku I've created myself a helper:
                <a href="https://sumup.avris.it/" target="_blank" rel="noopener">SumUp</a>.
            </p>

            <h2>Can I buy you a beer?</h2>
            <p>
                That would be cool, thank you!
                <a href="https://paypal.me/AndreAvris" target="_blank" rel="noopener">
                    Here's my PayPal.
                </a>
            </p>
        </section>
    </main>
</template>

<script>
    import {reactions} from "../src/data";
    import {Reaction} from "../src/classes";

    export default {
        data() {
            return {
                reactions,
                filter: '',
                types: Reaction.TYPES,
                filterType: '',
            }
        },
        mounted() {
            if (!process.client || !window.location.hash) {
                return;
            }

            const anchor = decodeURIComponent(window.location.hash.substr(1));
            this.$nextTick(_ => {
                const $anchor = document.getElementById(anchor);
                if ($anchor) {
                    $anchor.scrollIntoView();
                } else {
                    this.filter = anchor;
                    this.$refs.filter.focus();
                }
            });
        },
        methods: {
            stopAll() {
                this.$refs.reaction.forEach(r => r.stop())
            },
        },
        computed: {
            visibleReactions() {
                return this.reactions.filter(reaction => reaction.matches(this.filter, this.filterType));
            },
        },
        watch: {
            filter() {
                history.pushState(
                    '',
                    document.title,
                    window.location.pathname + window.location.search
                    + (this.filter ? '#' + this.filter : '')
                );
            },
        },
    }
</script>

<style lang="scss" scoped>
    @import "assets/variables";

    .reactions {
        min-width: 100%;
        display: grid;
        grid-gap: $spacer;
        grid-template-columns: repeat(auto-fit, minmax(12rem, 2fr));
        align-items: stretch;
    }

    .filter {
        margin-bottom: $spacer;
        display: flex;
        align-items: stretch;
        width: 100%;
        input {
            flex-grow: 1;
            padding: .5em;
            border: 1px solid $border;
        }
        .btn {
            padding: .5em;
            background-color: $white;
            border: 1px solid $border;
            padding-left: 1em;
            padding-right: 1em;
            cursor: pointer;
            @each $colour, $value in $colours {
                &.btn-#{$colour} {
                    border: 1px solid $value;
                    transition: background-color .25s ease-in-out, color .25s ease-in-out;
                    &:hover {
                        background-color: lighten($value, 25%);
                    }
                    &.active {
                        background-color: $value;
                        color: $white;
                    }
                }
            }
        }
        > :first-child {
            border-bottom-left-radius: $rounded;
            border-top-left-radius: $rounded;
        }
        > :last-child {
            border-bottom-right-radius: $rounded;
            border-top-right-radius: $rounded;
        }
        > :not(:last-child) {
            border-right: none !important;
        }
    }

    @media (max-width: $breakpoint-sm) {
        .d-lg {
            display: none !important;
        }
        .d-sm {
            .btn {
                flex: 1 1 auto;
            }
        }
    }
    @media (min-width: $breakpoint-sm + 1px) {
        .d-sm {
            display: none !important;
        }
    }

    .empty {
        text-align: center;
        margin-top: 2 * $spacer;
        margin-bottom: 2 * $spacer;
        font-size: 1.2em;
    }
</style>
